.catalog__container {
  margin: 0 auto;
  background-image: url("img/background-1.png");
  background-size: 790px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 1px;
}

.catalog__title {
  margin-top: 220px;
  margin-bottom: 110px;
}
